:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 100vh;
  background-color: #21212105;
}

li {
  list-style-type: none;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  height: 4.6rem;
  padding: 0 2.4rem;
  background-color: #212121;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
input {
  height: 4.6rem;
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid #21212150;
  padding: 0 1.2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
